body {
  margin:0px;
  background-color:rgba(52, 152, 219, 1);
  background-image:url('../../../images/home/login/u1_state0.png');
  background-position:left top;
  background-repeat:repeat;
  background-attachment:scroll;
  background-size:960px 960px;
  position:relative;
  left:-0px;
  width:1100px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1264 {
  position:fixed;
  left:50%;
  margin-left:-175px;
  top:50%;
  margin-top:-279px;
  width:350px;
  height:458px;
  overflow:hidden;
}
#u1264_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:458px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1264_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}


#u1265_div {
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 300px;
    height: 50px;
    background: inherit;
    background-color: rgba(255, 255, 255, 1);
    border: none;
    border-radius: 3px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: '微软雅黑';
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    color: #1F98B7;
}

#u1265 {
    border-width: 0px;
    position: absolute;
    left: 25px;
    top: 343px;
    width: 300px;
    height: 50px;
    font-family: '微软雅黑';
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    color: #1F98B7;
}

#u1265_div.mouseOver {
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 300px;
    height: 50px;
    background: inherit;
    background-color: rgba(255, 255, 255, 1);
    border: none;
    border-radius: 3px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: '微软雅黑';
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    color: #1F98B7;
}

#u1265.mouseOver {
    opacity: 0.9;
}

#u1265_div.mouseDown {
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 300px;
    height: 50px;
    background: inherit;
    background-color: rgba(255, 255, 255, 1);
    border: none;
    border-radius: 3px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: '微软雅黑';
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    color: #1F98B7;
}

#u1265.mouseDown {
    opacity: 1;
}

#u1265_text {
    border-width: 0px;
    position: absolute;
    left: 2px;
    top: 13px;
    width: 296px;
    word-wrap: break-word;
}

#u1266 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1267_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
}
#u1267 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:273px;
  width:300px;
  height:50px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:transparent;
  text-align:right;
}
#u1267_img.selected {
}
#u1267.selected {
}
#u1267_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:288px;
  word-wrap:break-word;
}
#u1268 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:278px;
  width:215px;
  height:40px;
}
#u1268_input {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:40px;
  background-color:transparent;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1269_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:right;
}
#u1269 {
  border-width:0px;
  position:absolute;
  left:287px;
  top:278px;
  width:38px;
  height:40px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:right;
}
#u1269_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u1270 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1271_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
}
#u1271 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:203px;
  width:300px;
  height:50px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:transparent;
  text-align:right;
}
#u1271_img.selected {
}
#u1271.selected {
}
#u1271_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1272 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:208px;
  width:215px;
  height:40px;
}
#u1272_input {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:40px;
  background-color:transparent;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1273_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:right;
}
#u1273 {
  border-width:0px;
  position:absolute;
  left:287px;
  top:208px;
  width:38px;
  height:40px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:right;
}
#u1273_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u1274_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u1274 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:216px;
  width:24px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-style:normal;
  font-size:16px;
  color:#1ABC9C;
}
#u1274_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1275_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:24px;
}
#u1275 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:286px;
  width:19px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-style:normal;
  font-size:16px;
  color:#1ABC9C;
}
#u1275_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1276 {
  position:absolute;
  left:25px;
  top:413px;
  visibility:hidden;
}
#u1276_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  background-image:none;
}
#u1276_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1277_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.498039215686275);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u1277 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u1277_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:10px;
  width:260px;
  word-wrap:break-word;
}
#u1276_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  visibility:hidden;
  background-image:none;
}
#u1276_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1278_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.498039215686275);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u1278 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u1278_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:10px;
  width:260px;
  word-wrap:break-word;
}
#u1276_state2 {
  position:relative;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  visibility:hidden;
  background-image:none;
}
#u1276_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1279_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.498039215686275);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u1279 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u1279_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:10px;
  width:260px;
  word-wrap:break-word;
}
#u1280_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:47px;
}
#u1280 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:113px;
  width:350px;
  height:47px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
  line-height:28px;
}
#u1280_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:346px;
  word-wrap:break-word;
}
#u1281 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1282_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:99px;
}
#u1282 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:10px;
  width:90px;
  height:99px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-style:normal;
  font-size:16px;
  color:#1ABC9C;
}
#u1282_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1283_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:42px;
}
#u1283 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:34px;
  width:63px;
  height:42px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-style:normal;
  font-size:16px;
  color:#1ABC9C;
}
#u1283_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1284 {
  position:fixed;
  left:50%;
  margin-left:-550px;
  bottom:0px;
}
#u1284_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:1100px;
  height:100px;
  background-image:none;
}
#u1284_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1286_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1101px;
  height:101px;
}
#u1286 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:100px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:24px;
}
#u1286_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:1096px;
  word-wrap:break-word;
}
